
.checkbox {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding-left: 40px;
    margin: 10px;
    &.vertical {
      display: flex;
    }
    &.horizontal {
      display: inline-flex;
    }
    &__label {
      font-size: 24px;
      font-weight: 700;
      color: white;
    }
    &__icon {
      width: 50px;
      cursor: pointer;
      color: white;
    }
}

.intermediate {
    border: 1px solid black;
    width: 25px;
    height: 23px;
    font-size: 2em;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;

    .fa-square {
        font-size: 16px;
    }
}

.fill-box {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: inline-block;
    background-color: #fff;
}
