    
.animated-checkbox-container {
    display: flex;
    align-items: center;
    text-align: center; 
    margin: 0;
    box-sizing: border-box;
    background-color: #fff;
    padding: 2px 15px;
    cursor: pointer;

    .checkbox-input {
        display: none;
    }

    .check-box {
        height: 40px;
        width: 40px;
        display: inline-block;
        border: 4px solid rgba(0, 0, 0, 0.6);
        border-radius: 5px;
        position: relative;
        box-sizing: border-box;
        transform: scale(0.7);
        cursor: pointer;

        &::before, &::after {
            content: ' ';
            position: absolute;
            height: 0;
            display: inline-block;
            box-sizing: border-box;
            border-radius: 5px;
            width: 8px;
            background-color: rgba(0, 0, 0, 0.7);
            // background-color: black;
            transform-origin: left top;
            transition: opacity 0.5s ease;
        }

        &::before {
            transform: rotate(-135deg);
            top: 30px;
            left: 16.5px;
            box-shadow: 0 0 0 2px #fff;
        }

        &::after {           
            top: 15px;
            left: 2px;
            transform: rotate(-45deg);
        }
    }

    .checkbox-label {
        padding-left: 16px;
    }

    .check-box.indeterminate {

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 18px;
            height: 18px;
            display: inline-block;
            background: rgba(0, 0, 0, 0.6);
            border: 1px solid black;
            border-radius: 5px;
        }
    }

    // .checkbox-input:checked + .check-box,
    .check-box.checked {
        border-color: rgba(0,0,0,0.7);

        &::before{
            height: 48px;
            animation: crosslineanimation 0.2s ease 0s forwards;
        }
        
        &::after{
            height: 20px;
            animation: bottomlineanimation 0.1s ease 0s forwards;
        }
        
        
    }
}

@keyframes bottomlineanimation {
    0% { height: 0; }
    100% { height: 20px;  }
}

@keyframes crosslineanimation {
    0% { height: 0; }
    50% { height: 0; }
    100% { height: 48px; }
}