.drawer-component-container {
    .drawer-wrap {
        width: 280px;
        max-width: 280px;
        height: calc(100% - 56px);
        transform: translateX(-280px);
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        background-color: #500ad2;
        background-image: linear-gradient(180deg,rgba(255,255,255,.18) 0,rgba(0,0,0,.18) 100%);
        transition: all 0.1s linear;
        z-index: 2;
        height: 100%;
        &.left {
            top: 0;
            left: 0;
        }
        &.right {
            top: 0;
            left: auto;
            right: 0;
            transform: translateX(280px);
        }
        &.top {
            height: 300px;
            width: 100vw;
            top: 0;
            transform: translateY(-300px);
            max-width: 100%;
        }
        .header-icon {
            display: inline-block;
            height: 56px;
            line-height: 56px;
        }
    } 
    
    &.open-drawer {
        display: flex;
        .drawer-wrap {
            transform: translateX(0);
        }
        .drawer-wrap.right {
            transform: none;
        }
        .drawer-wrap.top {
            transform: translateY(0);
        }

    }

    .drawer-wrap {
        .list-container {
            .list {
                .list-item {
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
}
