.drawer-component-container {
    &.right {
        .drawer-wrap {
            top: 0;
            right: 0;
            left: auto;
            transform: translateX(300px);
            .header-icon {
                float: right;
            }
        }
    }
    &.left {
        .drawer-wrap {
            top: 0;
            left: 0;
            right: auto;
            .header-icon {
                float: left;
            }
        }
    }
    &.top {
        .drawer-wrap {
            height: 280px;
            max-height: 220px;
            max-width: inherit;
            width: 100%;
            transform: translateX(none);
            transform: translateY(-280px);
        }
    }
    &.bottom {
        .drawer-wrap {
            height: 280px;
            max-height: 220px;
            max-width: inherit;
            width: 100%;
            top: auto;
            bottom: 0;
            transform: translateX(none);
            transform: translateY(280px);
            .header-icon {
                float: right;
            }
        }
    }
    &.open-drawer {
        display: flex;
        .drawer-wrap {
            transform: translateX(0);
        }
    }
    .drawer-wrap {
        width: 280px;
        max-width: 280px;
        height: calc(100% - 56px);
        transform: translateX(-280px);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
        overflow: hidden;
        background-color: var(--primaryBg, #500ad2);
        background-image: var(--primaryBgImage, linear-gradient(180deg,rgba(255,255,255,.18) 0,rgba(0,0,0,.18) 100%));
        transition: all 0.1s linear;
        height: 100%;
        .header-icon {
            display: inline-block;
            height: 56px;
            line-height: 56px;
        }
    } 
    
    .drawer-wrap {
        .list-container {
            border: none;
            .list {
                .list-item {
                    a {
                        color: var(--primaryText, #fff);
                    }
                }
            }
        }
    }
}
