.multi-select-container {
  .title {
    font-size: 18px;
    font-weight: normal;
  }
  i {
    cursor: pointer;
  }
}

.nested-tree-container {
  .check-list-wrapper {
    position: relative;
  }
  
  .check-box-wrapper {
    position: relative;
    padding-left: 12px;
    & > i.toggle-icon {
      font-size: 18px;
      position: absolute;
      left: 2px;
      top: 8px;
    }
  }
}

.helper-container {
  margin: 20px 0px;

  display: inline-block;
  min-width: 320px;

  .helper-container-wrapper {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    width: 100%;

    i {
      cursor: pointer;
    }
  }

  .no-data-block {
    padding: 20px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .drop-down {
    padding: 8px 20px;
    color: #fff;
    line-height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: grey;
  }
}

.animated-multi-select-wrapper {
  width: auto;
  display: inline-block;
}

